@import './mixins';
@import './fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

img {
    max-width: 100%;
}

html, body {
    overflow-x: hidden;
    background: #000;
    font-family: 'Formular', sans-serif;
    -webkit-overflow-scrolling: touch;
}

button {
    font-family: 'Formular', sans-serif;
}

html.lock {
    overflow: hidden;
}

.page-wrapper {
    position: relative;
}

.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #088ECB;
    z-index: 10000;
    transform: scaleX(0);
    transform-origin: top left;
    cursor: wait;
}

.section {
    position: relative;
    z-index: 2;
}

._line-bar, ._slide-line, ._line-bar-bottom, ._line-bar-middle {
    transform-origin: 0 0;
    transform: scaleX(0);
    height: 1px;
    background: #828282;
    will-change: transform;
}

.big-text {
    font-size: 260px;
    font-weight: 700;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    margin-left: -18px;
    color: transparent;
    overflow: hidden;
    position: relative;
    width: max-content;
    @include adaptiv-value('margin-bottom', 80, 40, 1);
    display: block;
    z-index: 3;

    @media(max-width: 992px) {
        font-size: 58px;
        margin-left: 0;
        margin-top: 32px;
    }
    @media(min-width: 993px) and (max-width: 1220px) {
        font-size: 200px;
    }

    span {
        display: block;
        width: max-content;
    }
    
    .back {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(100%); // => 0
        z-index: 2;
        will-change: transform;

        span {
            color: #fff;
            position: relative;
            transform: translateY(-100%); // => 0
            will-change: transform;
        }
    }
}

.text {

    &_border {
        @include adaptiv-value('padding-top', 80, 30, 1);
        @include adaptiv-value('padding-bottom', 80, 30, 1);
        border-top: 1px solid #828282;
        border-bottom: 1px solid #828282;
    }
    p {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: calc(32 / 20 * 100%);
    }
    p:not(:last-child) {
        margin-bottom: 24px;
    }
}

._text-fill {
    position: relative;
}

.text-overflow {
    @include adaptiv-value('margin-bottom', 80, 40, 1);
    -webkit-text-stroke: 0.6px #fff;
    font-size: 65px;
    font-weight: 700;
    line-height: calc(78 / 65 * 100%); 
    color: transparent;
    position: relative;
    z-index: 3;

    @media(max-width: 992px) {
        font-size: 32px;
        font-weight: 500;
        margin: 32px 0;
    }

    span {
        display: block;
    }
    
    .back {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(100%); // => 0
        z-index: 2;
        will-change: transform;

        span {
            color: #fff;
            position: relative;
            transform: translateY(-100%); // => 0
            will-change: transform;
        }
    }
}

._text-fill-horizontal {
    position: relative;
    margin-top: 40px;
    margin-bottom: 24px;

    .front {
        -webkit-text-stroke: 0.6px #fff;
        font-size: 65px;
        font-weight: 700;
        line-height: calc(78 / 65 * 100%);    
        color: #fff;
        overflow: hidden;
        will-change: transform;
        @media(max-width: 992px) {
            font-size: 40px;
            line-height: calc(48 / 40 * 100%);    
        }
    }
    .back {
        -webkit-text-stroke: 0.6px transparent;
        font-size: 65px;
        font-weight: 700;
        line-height: calc(78 / 65 * 100%);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        color: #000;
        height: 100%;
        width: 100%;
        will-change: transform;
        @media(max-width: 992px) {
            font-size: 40px;
            line-height: calc(48 / 40 * 100%);    
        }
    }
}

.image-mask {
    overflow: hidden;
    position: relative;
    @media(min-width: 992px)  {
        min-height: 836px;
    }
    // @media(max-width: 992px)  {
    //     min-height: 100px;
    // }

    img {
        will-change: transform;
        @media(min-width: 760px) {
            position: absolute;
            max-width: none;
        }
        @media(max-width: 760px) {
            max-width: 100%;
            height: auto;
        }
    }
}

.parallax-container {
    display: flex;
    justify-content: flex-end;
    
    @media(min-width: 993px) {
        padding: 80px 0 0 0; //bottom 220
    }
    @media(max-width: 993px) {
        padding: 32px 0;
    }
}

.parallax-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    will-change: transform;
    @media(min-width: 993px) {
        flex: 0 0 738/1200 *100%;
    }
}

.image-block {
    position: relative;
    z-index: 3;
    @media(max-width: 992px) {
        padding: 0 16px;
        display: flex;
        justify-content: center;
    }
    @media(min-width: 993px) {
        & > div {
            @include vh(40);

            //height: calc(50vh - 80px);
            display: flex;
            flex-wrap: nowrap;

            @media(max-height: 768px) {
                @include vh(50);
            }
        }
    }
    &__top {  
        
        @media(min-width: 993px) {
            padding-left: 100vw;
            margin-top: 60px;
        }
        @media(max-width: 992px) {
            padding-right: 8px;
        }
    }
    &__bottom {
        position: relative;
        
        @media(min-width: 993px) {
            padding-left: 150vw;
            margin-bottom: 60px;
        }
        @media(max-width: 992px) {
            padding-top: 64px;
            padding-left: 8px;
        }
    }

    &__item {
        
        @media(min-width: 993px) {
            height: 100%;
            width: 100vw;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
        img {
            max-height: 100%;
        }
        @media(max-width: 992px) {
            flex: 0 0 50%;
            margin-top: 48px;
        }
        
        &-inner {
            width: 292px;
            height: 390px;

            @media(max-width: 768px) {
                width: 220px;
                height: 280px;
            }
            @media(max-width: 460px) {
                width: 150px;
                height: 220px;
            }   
        }
    }

    
    .last-image {
        position: absolute;
        left: 100%;
        top: -50%;
        @media(max-width: 992px) {
            display: none;
        }

        .image-block__item-inner {
            width: 730px;
            height: 480px;
        }
    }
}

._text-on-load, ._text-on-scroll {
    & > div {
        overflow: hidden;

        & > div {
            transform-origin: 0% 50%;
            white-space: nowrap;
            will-change: transform;
        }
    }
    // .line {
    //     transform-origin: 0% 50%;
    //     white-space: nowrap;
    //     will-change: transform;
    // }
    // .oh {
    //     overflow: hidden;
    // }
    
    // .oh__inner {
    //     display: inline-block;
    //     transform-origin: 0% 50%;
    //     will-change: transform;
    // }
}

._text-on-scroll {
    .line {
        transition: transform 1.2s ease-in-out;
    }
}

._line-on-scroll {
    width: 100%;
    background: #828282;
    height: 1px;
    transform-origin: 0 0;
    transform: scaleX(0);
}